events: []
label: Rare birds
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: c57a8b9c-e963-4ef3-8ccf-475a00d57254
  config:
    always_color: true
    list:
      items:
      - Surf scoter
      - King eider
      - Feas type
      - Ross's gull
      - Ring-billed gull
      - Laughing gull
      - Franklins gull
      - Wilson's petrel
      - Ivory gull
      - Brunnichs Guill
      - White-winged tern
      - Barolo shear
      - gull-billed tern
      - Caspian tern
      - Am Herring gull
      - Stellers eider
      - Forsters tern
      - BB albatross
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 98999260-8463-42ff-b10b-fb64f4ef9f8b
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: Number
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 950ad221-4278-405c-a25b-5283d3f40e6d
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: Number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: fb706661-90a9-455f-a724-d2932d2169cd
  config:
    always_color: true
    list:
      items:
      - A
      - B
      - C
      - D
      - E
      - F
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: distance
  hidden: false
  name: Distance
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: f51efb9f-c586-45e5-9a51-54068cdcb381
  config:
    always_color: true
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 1f608e80-6134-42f7-b0ac-f8cb754b8c14
  config:
    always_color: true
    list:
      items:
      - In
      - Out
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: transect
  hidden: false
  name: Transect
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: c2d704ae-f1c2-4363-a7b9-8d2e54e3a98a
  config:
    always_color: true
    list:
      items:
      - No plumage
      - Breeding
      - Non breeding
      - Trans
      - Mixed
      - Light
      - Intermediate
      - Dark
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: plumage
  hidden: false
  name: Plumage
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 6ecaf40c-f8d1-47ae-8bef-75e31be82382
  config:
    always_color: true
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 0bb54e10-e1d0-40db-9842-d16a96f3d5f2
  config:
    always_color: true
    list:
      items:
      - No Age
      - Adult
      - Juvenile
      - Immature
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: fac15f42-14cd-4cb1-ba6e-3282a1770d78
  config:
    always_color: true
    list:
      items:
      - Primary moult
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: moult
  hidden: false
  name: Moult
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: ee0f297b-3ffa-4cab-9a97-a89e505dc807
  config: {}
  default:
    expression: ''
    field: ''
    layer: Env_Conditions
    type: layer-value
  default-type: layer-value
  default_events:
  - capture
  field: date & tim
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: b887e168-56d8-4654-881c-b49632e4b801
  config:
    always_color: true
    list:
      items:
      - Litter
      - Association
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: litter
  hidden: false
  name: Litter
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 01f78f25-a140-43d1-a765-a108cdd6855f
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: 00786339-181d-4c06-b1d9-f878e159ae51
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
