events: []
label: Trip details
layer: Trip details
newstyle: true
type: auto
widgets:
- _id: e6b32b58-c1e4-4491-9da5-27fcc694ebca
  config: {}
  default: ''
  default-type: simple
  default_events:
  - capture
  field: id
  hidden: true
  name: Id
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Text
- _id: b3f0f3ca-0bd3-4240-87c7-2fd4a5354078
  config:
    always_color: true
    list:
      items:
      - No data
      - Seismic Survey
      - Steaming
      - Non-fishing activity
      - Flaring
      - Major fishing activity
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: base activ
  hidden: false
  name: Base Activity
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 3865235c-d599-4b3f-94d0-952cde4ac148
  config:
    always_color: true
    list:
      items:
      - "0\xB0"
      - "45\xB0"
      - "90\xB0"
      - "135\xB0"
      - "360\xB0"
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: scan anlg
  hidden: false
  name: Scan angle
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 769ac357-67e0-417f-98eb-0f31e881fd5b
  config:
    always_color: true
    list:
      items:
      - All species recorded
      - All species except Larus gulls
      - All species except Fulmars
      - All species except Larus gulls Fulmars and Kittiwake
      - Auks only
      - Auks and Seaduck only
      - All species except Eiders and Gulls
      - All species except Gannets and Fulmars
    multi: false
    wrap: 4
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species co
  hidden: false
  name: Species Co
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 9219a867-4c90-4a79-9db4-12956ccb720a
  config: {}
  default: '[%  now()  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: date
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: 4dcad232-0b7f-443f-a8f8-d64ac32b1033
  config:
    max: '1000'
    min: '0'
    prefix: ''
    step: 50
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: trnas widt
  hidden: false
  name: Transect width
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: 40888d5c-3937-4d61-bad0-a77948ab79e8
  config: {}
  default: ''
  default-type: simple
  default_events:
  - capture
  field: duration
  hidden: true
  name: Duration
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Text
- _id: bc227f77-4210-403d-849e-eb8d2adf77af
  config: {}
  default: ''
  default-type: simple
  default_events:
  - capture
  field: observers
  hidden: false
  name: Observer(s) initials
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Text
- _id: f0dcfe1c-8544-45f7-827e-67e2abd2d468
  config:
    max: ''
    min: '0'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: obs no
  hidden: false
  name: Number of observers present
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: 59431b5e-fbe3-4071-9129-5b02d46874c5
  config: {}
  default: ''
  default-type: simple
  default_events:
  - capture
  field: notes
  hidden: false
  name: Notes
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: TextBlock
- _id: aefab671-816a-4e1c-a684-d06f29d7f692
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: 75ae1ec9-dd7f-4c50-b3f2-165643028641
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
