description: Seabirds At Sea Survey.
forms:
- Trip
- Environment
- Less_Common_Birds
- Scarce_birds
- Rare_birds
- Uncertain_bird
- Non-bird
- Trip_details
project_save_version: 291
project_version: 2
selectlayerconfig:
  Env_Conditions:
    tools:
    - capture
    - delete
    - edit_attributes
    - edit_geom
  Species 2:
    tools:
    - capture
    - delete
    - edit_attributes
    - edit_geom
  Survey 1 Sheet1:
    tools:
    - capture
    - delete
    - edit_attributes
    - edit_geom
  Survey 1 Sheet1 None:
    tools:
    - capture
    - delete
    - edit_attributes
    - edit_geom
  Trip details:
    tools:
    - capture
    - delete
    - edit_attributes
    - edit_geom
  gps_log:
    tools:
    - capture
    - delete
selectlayers:
- Species 2
- template survey Sheet1 None
- Survey 2
- Sea trip data Sheet1 None
- Environmental conditions Sheet1 None
- Survey 1 Sheet1 None
- Env_Conditions
- Survey 1 Sheet1
- Trip details
- gps_log
- Tripkey Sheet1
title: ESAS2021
version: 3.0.6
