events: []
label: Scarce birds
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: ee3298d2-b5b9-470a-93bc-49568748987b
  config:
    always_color: true
    list:
      items:
      - GC grebe
      - RN grebe
      - BN grebe
      - Pom skua
      - LT skua
      - Goosand
      - LT duck
      - Velv sco
      - Little tern
      - Black tern
      - Grey phal
      - RN phal
      - Leach's p
      - WB diver
      - Bal shear
      - Cory's sh
      - Great sh
      - Roseate tern
      - Casp gull
      - YL gull
    multi: false
    wrap: 10
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 8b91a101-b54a-47a1-a7df-073376d3ac93
  config:
    always_color: false
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: Number
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: f68b02f1-fcd2-4a82-adda-703818a41a9d
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: Number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: ea5ca727-8a89-4119-b73d-5f3f49e0662a
  config:
    always_color: false
    list:
      items:
      - A
      - B
      - C
      - D
      - E
      - F
    multi: false
    wrap: 6
  default: ''
  default-type: simple
  default_events:
  - capture
  field: distance
  hidden: false
  name: Distance
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: b73373ad-c109-4d61-ba40-b1b6e58556d1
  config:
    always_color: true
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 9cf00a30-3698-456e-baef-391a948f1b95
  config:
    always_color: true
    list:
      items:
      - In
      - Out
    multi: false
    wrap: 2
  default: ''
  default-type: simple
  default_events:
  - capture
  field: transect
  hidden: false
  name: Transect
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 4c190e45-1fb9-4671-8e44-6b61ef35d28a
  config:
    always_color: true
    list:
      items:
      - No plumage
      - Breeding
      - Non breeding
      - Trans
      - Mixed
      - Light
      - Intermediate
      - Dark
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: plumage
  hidden: false
  name: Plumage
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: d49f83d2-3a24-4409-9ae4-5e9a0e5215c4
  config:
    always_color: true
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 3203302b-ca3a-4112-b315-c066a11e91b0
  config:
    always_color: true
    list:
      items:
      - No Age
      - Adult
      - Juvenile
      - Immature
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: a5024f62-2525-4af0-a928-fedd2f729aa3
  config:
    always_color: false
    list:
      items:
      - Primary moult
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: moult
  hidden: false
  name: Moult
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 9a641436-8cc7-4146-81fe-caacef3258c9
  config:
    always_color: false
    list:
      items:
      - Litter
      - Association
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: litter
  hidden: false
  name: Litter
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 10486eb3-4fc1-4e78-b280-613a0dad1db8
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  field: date & tim
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: 365afa53-df34-4c95-9d70-d406579b74f5
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: fd51ca1e-44fc-4668-843e-44ee3d238deb
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
