events: []
label: Non-bird
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: 1b3ab8e1-a719-45c1-8154-20ccb6a8a5eb
  config:
    always_color: true
    list:
      items:
      - H porp
      - BN dolph
      - Com dolph
      - Risso Dolph
      - WB dolph
      - WS dolph
      - Dolph sp
      - Minke W
      - Killer W
      - Humpback
      - Fin Wh
      - Sei Wh
      - Pilot wh
      - Whale sp
      - Com seal
      - Grey seal
      - Otter
      - Sunfish
      - Basking sh
      - Sperm wh
      - Seal sp
    multi: false
    wrap: 11
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 13187ded-af7e-4143-be68-2c2282fa341f
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: Number
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 9112cac8-6bc1-411e-bd2c-c3a20de69352
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: Number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: f93314b8-79d2-49af-ba9b-dbc5e8a24fa2
  config:
    max: '1000'
    min: '0'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: range
  hidden: false
  name: Range
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: e9638de2-fab8-4ead-96c9-21c0fc88e7a8
  config:
    max: '360'
    min: '0'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: bearing
  hidden: false
  name: Bearing
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: cec5ff59-94b6-4173-8db4-17f8a0687b0f
  config:
    always_color: false
    list:
      items:
      - Adult
      - Not adult
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 252189b9-78cf-496d-bc33-ec6578a52c44
  config:
    always_color: false
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 10ac445d-1328-4baa-a9df-266f8de428f6
  config:
    always_color: true
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: f9279fbe-4021-4e68-8cd3-8f8a0439faa2
  config:
    always_color: true
    list:
      items:
      - Slow swim
      - Fast swim
      - Breach
      - Spyhop
      - Feeding
      - Resting
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: behavior
  hidden: false
  name: Behavior
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: c1857061-2e95-4b49-af04-b33f3a594931
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: date & tim
  hidden: true
  name: Date & time
  read-only-rules:
  - always
  rememberlastvalue: false
  required: false
  widget: Date
- _id: e83e9a63-b203-4cab-a81d-53d20f0b44cf
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: 8fc53bf5-6771-4d67-a9de-f7f95f3ff92a
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
