events: []
label: Environment Conditions
layer: Env_Conditions
newstyle: true
type: auto
widgets:
- _id: b968af41-3aba-4004-8c5a-14159f072f5a
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: seastate
  hidden: false
  name: Seastate
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: f45b43dd-87f9-4ce7-ad61-74b849663dac
  config:
    always_color: false
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - S
      - SE
      - SW
      - W
      - NW
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: wind
  hidden: false
  name: Wind Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 1ec54efa-120e-41e7-97e9-af4cf1711e29
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: wind force
  hidden: false
  name: Wind Force
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 7fd291e8-0132-42fc-856a-c96f2331e37a
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: cloud
  hidden: false
  name: Cloud cover
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: eba3fb97-c80b-4986-b55e-7221976a7d10
  config:
    always_color: true
    list:
      items:
      - '0'
      - Light rain
      - Mod rain
      - Heavy rain
      - Light snow
      - Mod snow
      - Heavy snow
    multi: false
    wrap: 7
  default: ''
  default-type: simple
  default_events:
  - capture
  field: precipitat
  hidden: false
  name: Precipitattion
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 7e5a30a7-f7b8-49ed-b47a-d396f3c667fd
  config:
    always_color: true
    list:
      items:
      - Poor
      - Moderate
      - Good
      - Excellent
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: visibility
  hidden: false
  name: Visibility
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: fa7cc2b5-0652-481e-8bdc-9ad2ac0c5cca
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sun direct
  hidden: false
  name: Sun Direct
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: a34c4a90-d6f9-4f1a-a7eb-3772f5cb8ac7
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
    multi: false
    wrap: 5
  default: ''
  default-type: simple
  default_events:
  - capture
  field: swell
  hidden: false
  name: Swell Height
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: a322d572-c222-43ca-862c-8b5bbad72a05
  config:
    always_color: true
    list:
      items:
      - 'True'
      - 'False'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: horizon
  hidden: false
  name: Horizon
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 7507ac88-1cdf-4dc4-b07f-3b4a4a1b57f9
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: date
  hidden: true
  name: Date & time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: f88ce772-123b-4e01-8ab1-4da6e32530e1
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: cbf8f074-ac43-43a9-8511-c77bf331bc0e
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: fe747338-21f4-4340-ba24-8d98a6580e65
  config:
    max: ''
    min: ''
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: id
  hidden: true
  name: TripKey
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
