events:
- action: Set Value
  condition: ' "Species na" =  ''Razor'' '
  event: Update
  source: 27be7f51-30d4-41c9-8a69-176419c92e50
  target: 27be7f51-30d4-41c9-8a69-176419c92e50
  value: '0'
label: Common birds
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: 655d06c6-97a5-4020-b224-59703377ef6b
  config:
    always_color: true
    list:
      items:
      - Start
      - Stop
      - Gannet
      - Fulmar
      - Kitti
      - Com gull
      - GBBG
      - Herr gull
      - Guilli
      - Razor
      - Puffin
      - Tystie
      - GN diver
      - RT diver
      - Shag
      - BH gull
      - RB merg
      - Arc tern
      - GU/RA
      - Large gull sp
    multi: false
    wrap: 10
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 4e52897a-8b15-431f-bf95-4a25a5e4a53c
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: 'Number '
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 98325ed9-0624-4a48-b4a5-a7317c129d6b
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: da5fff1a-ed9b-4a95-b33f-621b22ad1d58
  config:
    always_color: true
    list:
      items:
      - A
      - B
      - C
      - D
      - E
      - F
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: distance
  hidden: false
  name: Distance
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 96927fa0-69b8-4cc8-b518-7ca258205cdb
  config:
    always_color: true
    list:
      items:
      - In;In
      - Out;Out
    multi: false
    wrap: 2
  default: ''
  default-type: simple
  default_events:
  - capture
  field: transect
  hidden: false
  name: Transect
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 39f987cf-335e-41c4-b75a-138499f0e809
  config:
    always_color: true
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 27be7f51-30d4-41c9-8a69-176419c92e50
  config:
    always_color: true
    list:
      items:
      - No plumage
      - Breeding
      - Non breeding
      - Trans
      - Mixed
      - Light
      - Intermediate
      - Dark
      - '6'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: plumage
  hidden: false
  name: Plumage
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 2270c5d7-6c9d-447c-820e-aaf90c38d0da
  config:
    always_color: true
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 3
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 74afa020-6e11-4761-9a98-5695fb3f40f5
  config:
    always_color: true
    list:
      items:
      - No Age
      - Adult
      - Juvenile
      - Immature
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    multi: false
    wrap: 10
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 2a473933-c114-467c-a2c7-f553d0b99b0d
  config:
    always_color: false
    list:
      items:
      - Primary moult
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: moult
  hidden: false
  name: Moult
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 590753cc-f504-4077-a010-bb37ca8c5071
  config:
    always_color: true
    list:
      items:
      - Litter
      - Association
    multi: false
    wrap: 2
  default: ''
  default-type: simple
  default_events:
  - capture
  field: litter
  hidden: false
  name: Litter
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 5e4723e8-7e02-46d6-9068-2b9a4d712093
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: date & tim
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: 51d003b9-5f99-4702-b9d0-2941f5d31642
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: 36bbf110-a603-4d1c-bc9d-66623f7cda41
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
