events: []
label: Uncertain bird
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: 7f6b580e-d61a-49b3-84cb-8da5af88c4cc
  config:
    always_color: true
    list:
      items:
      - Black backed gull
      - comm gull/kitti
      - Auk sp
      - gull sp
      - Skua sp
      - small skua sp
      - diver sp
      - tern sp
      - duck sp
      - petrel sp
      - commic tern
      - shearwater sp
      - small gull sp
      - Corm/shag
    multi: false
    wrap: 7
  default: ''
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species Na
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 4031eb96-16d2-40db-915b-2ea28d927f35
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: Number
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 3664e13d-952a-4490-a169-fede5c55e689
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: Number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: 685d6a50-5ab5-479e-8e8d-8ac4c3bc39ec
  config:
    always_color: true
    list:
      items:
      - A
      - B
      - C
      - D
      - E
      - F
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: distance
  hidden: false
  name: Distance
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: a4d24546-f659-4d4c-8b9d-2d0044823671
  config:
    always_color: true
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 05b4d0ad-d386-4af2-a2b7-7d5d65f3cfa5
  config:
    always_color: true
    list:
      items:
      - In
      - Out
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: transect
  hidden: false
  name: Transect
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: f58ee38e-1354-4237-911e-d8cf7615ec73
  config:
    always_color: true
    list:
      items:
      - No plumage
      - Breeding
      - Non breeding
      - Trans
      - Mixed
      - Light
      - Intermediate
      - Dark
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: plumage
  hidden: false
  name: Plumage
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 8593ca89-7183-49f4-b304-bc140d206e87
  config:
    always_color: true
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 5458de64-8503-411b-b68b-569329bc9fd1
  config:
    always_color: true
    list:
      items:
      - No Age
      - Adult
      - Juvenile
      - Immature
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: c2920822-8fc8-4da5-9fa1-18c21512ad2b
  config:
    always_color: true
    list:
      items:
      - Primary moult
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: moult
  hidden: false
  name: Moult
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 05bfbfc1-07e8-49ee-b58e-0d808a9e0dbf
  config:
    always_color: true
    list:
      items:
      - Litter
      - Association
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: litter
  hidden: false
  name: Litter
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 6aaa97be-10d6-48dc-9527-7a71f32acb89
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  field: date & tim
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: 5a42e721-4469-4a05-ad4b-78108915f31f
  config: {}
  default: ''
  default-type: simple
  default_events:
  - capture
  field: oil
  hidden: false
  name: Oil
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Text
- _id: 5cc2db70-02ec-468b-8387-331edeadc39e
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: d98c8303-aebf-4d32-bda1-0a1d4a3961d7
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
