events: []
label: Less Common Birds
layer: Species 2
newstyle: true
type: auto
widgets:
- _id: 24ce0819-6a00-40cc-8ef9-c96b14bbdf8f
  config:
    always_color: true
    list:
      items:
      - Sand tern
      - LBBG
      - Manx Sh
      - Sooty Sh
      - Great Sk
      - Arctic Sk
      - Goldeneye
      - Comm Sco
      - BT diver
      - Cormorant
      - Eider
      - Storm petrel
      - Comm tern
      - Slav grebe
      - Glauc gull
      - Ice gull
      - Scaup
      - Little auk
      - Med gull
      - Little gull
    multi: false
    wrap: 10
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  field: species na
  hidden: false
  name: Species
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 02770d2f-c170-406f-847e-59f584e232d6
  config:
    always_color: true
    list:
      items:
      - '0'
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
      - '7'
      - '8'
      - '9'
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number
  hidden: false
  name: Number
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 4ed05459-b7cd-4fb6-879c-47bd5062533e
  config:
    max: ''
    min: '10'
    prefix: ''
    step: 1
    suffix: ''
  default: ''
  default-type: simple
  default_events:
  - capture
  field: number >9
  hidden: false
  name: Number >9
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number
- _id: 70818bb1-e2eb-49d7-9b12-73af1f84d653
  config:
    always_color: false
    list:
      items:
      - A
      - B
      - C
      - D
      - E
      - F
    multi: false
    wrap: 6
  default: ''
  default-type: simple
  default_events:
  - capture
  field: distance
  hidden: false
  name: Distance
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 4693d29d-7b55-4977-8225-334fd1995092
  config:
    always_color: false
    list:
      items:
      - '0'
      - N
      - NE
      - E
      - SE
      - S
      - SW
      - W
      - NW
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: direction
  hidden: false
  name: Direction
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 5f7cc307-e9f1-4f15-9697-643335403f16
  config:
    always_color: true
    list:
      items:
      - In
      - Out
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: transect
  hidden: false
  name: Transcet
  read-only-rules:
  - never
  rememberlastvalue: false
  required: true
  widget: Option Row
- _id: 7d7a23de-694e-4a43-b9f5-5103ea39fc49
  config:
    always_color: true
    list:
      items:
      - No plumage
      - Breeding
      - Non breeding
      - Trans
      - Mixed
      - Light
      - Intermediate
      - Dark
      - '6'
    multi: false
    wrap: 9
  default: ''
  default-type: simple
  default_events:
  - capture
  field: plumage
  hidden: false
  name: Plumage
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: fa429a5b-4407-4456-9b5e-c161bd3b5ec3
  config:
    always_color: true
    list:
      items:
      - M
      - F
      - Unknown
    multi: false
    wrap: 0
  default: ''
  default-type: simple
  default_events:
  - capture
  field: sex
  hidden: false
  name: Sex
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 594dd0a8-82d9-4b8e-b59c-8ff33ec54568
  config:
    always_color: true
    list:
      items:
      - No Age
      - Adult
      - Juvenile
      - Immature
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    multi: false
    wrap: 10
  default: ''
  default-type: simple
  default_events:
  - capture
  field: age
  hidden: false
  name: Age
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: cc9a572c-980a-44d4-8dbb-63fd320e76fc
  config:
    always_color: false
    list:
      items:
      - Primary Moult
    multi: false
    wrap: 1
  default: ''
  default-type: simple
  default_events:
  - capture
  field: moult
  hidden: false
  name: Moult
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: ba59ab1a-b03c-44f8-ac78-181b1cba811f
  config:
    always_color: true
    list:
      items:
      - Litter
      - Association
    multi: false
    wrap: 2
  default:
    expression: ''
    field: ''
    layer: Env_Conditions
    type: layer-value
  default-type: layer-value
  default_events:
  - capture
  field: litter
  hidden: false
  name: Litter
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Option Row
- _id: 6ea379b1-1e57-4d86-80d5-88fc81d54e46
  config: {}
  default: '[% $now %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: date & tim
  hidden: true
  name: Date & Time
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Date
- _id: 9d68ae96-3f2c-4292-a6e1-0fef46dd5a36
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $x  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: x
  hidden: true
  name: X
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
- _id: 9003cd7c-0e22-410f-b022-32c130d066bc
  config:
    max: ''
    min: ''
    places: 2
    prefix: ''
    step: 1.0
    suffix: ''
  default: '[%  $y  %]'
  default-type: simple
  default_events:
  - capture
  - save
  field: y
  hidden: true
  name: Y
  read-only-rules:
  - never
  rememberlastvalue: false
  required: false
  widget: Number(Double)
